extends layout

block navbar
  div.navbar-inner
    div.container-fluid
      button.btn.btn-navbar(type='button, data-toggle='collapse', data-target='.nav-collapse')
        span.icn-bar
        span.icn-bar
        span.icn-bar
      a.brand(href='#') Mario
      div#info
      div.nav-collapse.collapse
        p.navbar-text.pull-right Logged in as:&nbsp;
          a.navbar-link(href='#i!/') Andrew
        ul.nav
          li#m_item_start.active
            a(href='#!/') Start
          li#m_item_success
            a(href='#!/success') Success
          li#m_item_error
            a(href='#!/error') Error

block content
  div.span3
    div.well
      ul.nav.nav-list
        li.nav-header Connection types
        #connTypeList

    div.well
      ul.nav.nav-list
        li.nav-header Connections
        li#unit-detail
        #connList

    div.well
      ul.nav.nav-list
        li.nav-header Unit
        li#unit-detail
        #unitConnectionsList

    include templates

    div.well.routing-block#success
      ul.nav.nav-list
        li.nav-header Seccess

    div.well.routing-block#error
      ul.nav.nav-list
        li.nav-header Error


  div.span9
    div.well
      div#container

block scripts

  script#connListView(type='text/template')
    <p>connection list:</p>
  script#connEmptyView(type='text/template')
    <p>list empty</p>
  script#connItemView(type='text/template')
    <p><%= name %></p>

  script(type='text/javascript', src='/javascripts/jquery/jquery-1.9.1.min.js')
  
  script(type='text/javascript', src='/javascripts/backbone/underscore-min.js')
  script(type='text/javascript', src='/javascripts/backbone/backbone-min.js')
  script(type='text/javascript', src='/javascripts/backbone/backbone.marionette.min.js')
  
  script(type='text/javascript', src='/javascripts/three/build/three.min.js')
  script(type='text/javascript', src='/javascripts/three/Detector.js')
  script(type='text/javascript', src='/javascripts/three/libs/OrbitControls.js')
  script(type='text/javascript', src='/javascripts/three/libs/stats.min.js')
  
  script(type='text/javascript', src='/javascripts/frontend_app.js')
